*{
    margin: 0px;
    padding: 0px;
}
.container{
    height: 100vh;
}

.faixa-1{
    display: flex;
  
}

.faixa-2{
    display: flex;
   
}

.caixa-1{
    background-color: greenyellow;
    height: 920px;
    width: 400px;
    justify-self: left;
    flex-direction: column;
}   

.caixa-2{
    background-color: antiquewhite;
    height: 920px;
    width: 850px;
    justify-self: right;

}

.flex{
    display: flex;
}

.centro-linha{
    align-items: center;
}
.centro{
    justify-content: center;
}

.borda{
    border-radius: 15px
}

.div1{
    background-color: greenyellow;
    height: 33.3333%;
    width: 250px;
    margin-top: 250px;
    margin-left: 75px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.div2{
    background-color: greenyellow;
    height: 33.3333%;
    width: 250px;
    margin-bottom: 225px;
    margin-left: 120px;
}

.centro-alinha{
    align-items: center;
    justify-content:center;
    
}

.cadastrar{
    background-color: greenyellow;
    align-items: center ;
    justify-content: start;
    margin-left: 75px;
    margin-right: 5px;
    margin-bottom: 2505px;
    flex-direction: column;
    height: 33.3333%;
    width: 250px; 

   

}

.arrumar{
    align-items: center ; 
    justify-content: start;
}

.botao{
    position: absolute;
    top: 400px;
    left: 410px;
    border-radius: 20px 20px 20px 20px;
    height: 75px;
    width: 250px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 500;
    color: gray;
    background-color: rgb(68, 243, 14);
}



  